@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Merriweather', serif;
    outline: none;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
::-webkit-scrollbar{
    width: 1rem;
    background-color: #ebebeb;        
}
::-webkit-scrollbar-thumb{
    background-color: #a7a7a7;
}

/* Header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.2rem 1rem;
    gap: 1.5rem;
}
.logo{
    font-size: 3rem;
    color: #FF5C00;
}
.search{
    width: 19rem;
    height: 2rem;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    background: none;
    padding-left: 1.5rem;
}
.search-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    border: 1px solid #000;
    border-radius: 8px;
}
.search-icon{
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    width: 7rem;
    height: 3rem;
    border-radius: 8px;
    border-left: 1px solid rgb(0, 0, 0);
    background-color: #FF8B4A;
}
.menu-option-span{
    display: none;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
.menu-option{
    font-size: 2.7rem;
}
.menu-option i{
    color: #5a5a5a;
}
.menu-option:hover{
    color: #a7a7a7;
}
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.need-help{
    font-size: 1.7rem;
    color: #FF5C00;
}

/* Fim Header */

/* Main Image */

.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vw;
}
.favorite-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.favorite{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E5E5;
    margin: 1rem;
    width: 22rem;
    height: 3.3rem;
    border-radius: 1.5rem;
}
.favorite-heart{
    border: none;
    font-size: 2.3rem;
    background: none;
    color: #FF0000;
    cursor: pointer;
}
.contact{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E5E5;
    margin: 1rem;
    width: 17rem;
    height: 3.3rem;
    border-radius: 1.5rem;
}
.contact-btn{
    color: #000;
    font-weight: bold;
}
.ashlyn{
    display: flex;
    align-items: flex-end;
    gap: 4rem;
    margin: 0 0 2rem 3rem;

}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, #FF8B4A 5.71%, rgba(196, 196, 196, 0) 361.02%);
    border-radius: 3rem;
    width: 53.5rem;
    height: 12rem;
    gap: 2rem;
}
.up-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2.4rem;
}
.local{
    font-size: 1rem;
}
.sales{
    font-size: 1rem;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    gap: .7rem;
    color: #000;
}
.text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 45rem;
    margin: 0 auto 0 auto;

}

/* Fim Main Image */

/* Main 2 */

.section2{
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.5rem 5rem;
}
.column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 3rem;
}
.column2{
    width: 25rem;
    padding-right: 3rem;
}
.column3{
    width: 25rem;
    margin-right: 5rem;
}


/* Announcements */

.announcement{
    border: 2px solid #000;
    background-color: #eee;
    width: 31rem;
    height: 15rem;
    padding: .5rem;
    overflow: scroll;
    overflow-x: hidden;
}
.announcement::-webkit-scrollbar{
    width: .3rem;
    background-color: #9F9F9F;  
    border-radius: 4px;           
}
.announcement::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 4px;
}
.annoucement-tittle{
    color: #FF5C00;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
}
.annoucement-itens{
    padding-top: .7rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 29rem;
    font-size: 1.4rem;
    gap: 1rem;
}

/* Items */

.items-tittle{
    color: #FF5C00;
    font-size: 1.7rem;
    font-weight: 400;
}
.search-items-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.search-items-and-icon{
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 1.5rem;
    border: 2px solid #000;
    width: 20rem;
    height: 3rem;
}
.search-items{
    background: none;
    border: none;
    font-size: 1.2rem;
    padding-left: 2rem;
}
.search-icon-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.8rem;
    padding-right: 2rem;
}
.items-name{
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 2rem;
}
.item-name-amount{
    display: flex;
    justify-content: space-between;
    color: #000;
}
.item-name-amount:hover{
    background-color: rgb(238, 238, 238);
}

/* Reviews */

.reviews{
    border: 2px solid #000;
    background-color: #eee;
    width: 31rem;
    height: 15rem;
    padding: .5rem;
    overflow: scroll;
    overflow-x: hidden;
}
.reviews::-webkit-scrollbar{
    width: .3rem;
    background-color: #9F9F9F;  
    border-radius: 4px;           
}
.reviews::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 4px;
}
.reviews-tittle{
    color: #FF5C00;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 1rem;
}
.review-block{
    width: 25rem;
    padding-bottom: 1rem;
    margin: 0 auto 0 auto;
}
.review-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-name{
    font-size: 1.2rem;
    text-decoration: underline;
}
.review-text{
    font-size: 1.1rem;
}
.review-stars{
    font-size: 1.4rem;
}

/* Image Columns */

.column-items{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.column-images{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.all-items{
    color: #FF5C00;
    font-size: 2rem;
    font-weight: lighter;
    height: 2.5rem;
}
.sort-block{
    display: flex;
    justify-content: flex-end;
}
#sort{
    font-size: 1.4rem;
    width: 15rem;
    font-weight: bold; 
    border: none;
    background: none;
}
.image-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-block img{
    width: 100%;
}
.img-tittle-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
}
.image-block h2{
    font-size: 1.8rem;
}
.image-block h3{
    font-size: 1.7rem;
}

#btn-mobile{
    display: none;
}

/* Responsive */

@media (max-width: 1400px) and (min-width: 1050px){
    .logo{
        font-size: 2rem;
        color: #FF5C00;
    }
    .search{
        width: 13rem;
        font-size: 1rem;
        padding-left: 1.5rem;
    }
    .search-icon{
        font-size: 2rem;
        width: 5rem;
        height: 2.5rem;
    }
    .nav-option{
        font-size: 2.3rem;
    }
    #nav{
        gap: 5rem;
    }
    .need-help{
        font-size: 1.5rem;
    }

    /* Top Main */  

    .favorite{
        width: 17rem;
        height: 2.6rem;
    }
    .favorite-heart{
        font-size: 2rem;
    }
    .favorite-text{
        font-size: 1.2rem;
    }
    .contact{
        font-size: 1.2rem;
        width: 12rem;
        height: 2.6rem;
    }

    /* Bottom Main */  

    .column1{
        height: 63rem;
    }
    .column2{
        width: 18rem;
        height: 63rem;
    }
    .column3{   
        width: 18rem;
        height: 63rem;
    }
    .about{
        width: 45rem;
        height: 10rem;
        gap: 2rem;
        font-size: .9rem;
    }
    .up-about{
        margin: 0 2rem;
    }
    .local{
        font-size: .8rem;
    }
    .sales{
        font-size: .8rem;
    }
    .stars{
        font-size: 1rem;
    }
    .text-about{
        font-size: 1rem;
        max-width: 40rem;
        margin: 0 auto 0 auto;
    }
    .girl-image{
        height: 10rem;
    }

    /* Announcements */

    .announcement{
        width: 26rem;
        height: 13rem;
    }
    .annoucement-tittle{
        font-size: 1.6rem;
        font-weight: 400;
    }
    .annoucement-itens{
        width: 23rem;
        font-size: 1.3rem;
    }

    /* Items */

    .items-tittle{
        font-size: 1.5rem; 
    }
    .search-items-and-icon{
        width: 19rem;
        height: 2.7rem;
    }
    .search-items{
        font-size: 1.2rem;
        padding-left: 2.2rem;
    }
    .search-icon-section2{
        font-size: 1.7rem;
        padding-right: 2rem;
    }
    .items-name{
        width: 19rem;
        gap: 1.6rem;
        padding-bottom: 1rem;
    }

    /* Reviews */

    .reviews{
        width: 26rem;
        height: 13rem;
    }
    .reviews-tittle{
        font-size: 1.6rem;
        font-weight: 400;
    }
    .review-block{
        width: 23rem;
        font-size: 1.3rem;
    }
    .review-stars{
        font-size: 1.3rem;
    }

    /* Image Columns */

    .all-items{
        font-size: 1.7rem;
    }
    .sort{
        font-size: 1.2rem;
    }
    .image-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-tittle-price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 0 auto;
    }
    .image-block h2{
        font-size: 1.1rem;
    }
    .image-block h3{
        font-size: 1.1rem;
    }
}

@media (max-width: 1050px){

    /*Menu Hamburguer*/
    
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        margin: 0;
        padding: 1rem .2rem 1rem .2rem ;
    }
    #menu{
        display: block;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 80%;
        top: 70px;
        right: 0px;
        background: #fff;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        z-index: 1000 ; 
    }
    #nav.active #menu{
        height: calc(100% - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        align-items: center;
        font-size: 1.3rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 0.2rem solid;
        width: 1.6rem;
        color: #FF5C00;
    }
    #hamburguer::after, #hamburguer::before{
        content: " ";
        display: block;
        width: 1.6rem;
        height: 0.2rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -0.5rem;
    }

    /*Fim Menu Hamburguer*/

    .logo{
        font-size: 1.2rem;
    }
    .search{
        width: 8rem;
        font-size: 0.9rem;
        padding-left: .7rem;
    }
    .search-area{
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0.37);
    }
    .search-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        width: 3rem;
        border-radius: 25px;
        border-left: 1px solid rgb(0, 0, 0, 0.37);
    }
    .menu-option{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    .menu-option-span{
        display: block;
        color: #5a5a5a;
    }
    .need-help{
        display: flex;
        justify-content: flex-end;
        font-size: 1.1rem;
        text-align: center;
    }

    /* Main Image */

    .section1{
        display: none;
    }
    .favorite-contact{
        display: none;
    }
    .favorite{
        display: none;
    }
    .favorite-heart{
        display: none;
    }
    .contact{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .ashlyn{
        display: none;
    }
    .local{
        font-size: 1rem;
    }
    .sales{
        font-size: 1rem;
    }

    /* Fim Main Image */

    /* Main 2 */

    .section2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 3rem 2.5rem 5rem;
        gap: 3rem;
    }
    .column1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-right: 0px;
    }
    .column2{
        width: 25rem;
        padding-right: 0px;
    }
    .column3{
        width: 25rem;
        margin-right: 0px;
    }
    .image-block {
        align-items: center;
    }
    .image-block img{
        width: 70%;
    }
    .img-tittle-price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 0 auto;
    }
    .image-block h2{
        font-size: 1.2rem;
        padding-top: 1rem;
    }
    .image-block h3{
        font-size: 1.1rem;
        padding-top: .4rem;
    }
    .all-items{
        display: none;
    }

    /* Announcements */

    .announcement{
        width: 19rem;
    }
    .annoucement-tittle{
        font-size: 1.5rem;
    }
    .annoucement-itens{
        width: 14rem;
        font-size: 1.2rem;
    }

        /* Items */

    .items-tittle{
        font-size: 1.5rem;
    }
    .search-items-block{
        padding: 2rem 0;
    }
    .search-icon-section2{
        font-size: 1rem;
    }
    .items-name{
        width: 16rem;
        gap: 1.5rem;
    }

    /* Reviews */

    .reviews{
        width: 19rem;
    }
    .reviews-tittle{
        font-size: 1.5rem;
    }
    .review-block{
        width: 17rem;
    }
    .review-name{
        font-size: 1.2rem;
        text-decoration: underline;
    }
    .review-text{
        font-size: 1.1rem;
    }
    .review-stars{
        font-size: 1.4rem;
    }
}