@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Merriweather', serif;
    outline: none;
}
body{
    background-color: #fff;
}

/* Header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.2rem 0 1.5rem 0;  
}
.logo{
    font-size: 3rem;
    color: #FF5C00;
}
.search{
    width: 19rem;
    height: 2rem;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    background: none;
    padding-left: 1.5rem;
}
.search-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    border: 1px solid #000;
    border-radius: 8px;
}
.search-icon{
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    width: 7rem;
    height: 3rem;
    border-radius: 8px;
    border-left: 1px solid rgb(0, 0, 0);
    background-color: #FF8B4A;
}
.nav-option{
    color: #5a5a5a;
    font-size: 3rem;
}
#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.need-help{
    font-size: 1.7rem;
    color: #FF5C00;
}

/* Fim Header */

/* Main Image */

.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vw;
}
.favorite-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.favorite{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E5E5;
    margin: 1rem;
    width: 22rem;
    height: 3.3rem;
    border-radius: 1.5rem;
}
.favorite-heart{
    border: none;
    font-size: 2.3rem;
    background: none;
    color: #FF0000;
}
.contact{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E5E5;
    margin: 1rem;
    width: 17rem;
    height: 3.3rem;
    border-radius: 1.5rem;
}
.contact-btn{
    color: #000;
    font-weight: bold;
}
.ashlyn{
    display: flex;
    align-items: flex-end;
    gap: 4rem;
    margin: 0 0 2rem 3rem;

}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, #FF8B4A 5.71%, rgba(196, 196, 196, 0) 361.02%);
    border-radius: 3rem;
    width: 53.5rem;
    height: 12rem;
    gap: 2rem;
}
.up-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2.4rem;
}
.local{
    font-size: 1rem;
}
.sales{
    font-size: 1rem;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    gap: .7rem;
    color: #000;
}
.text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 45rem;
    margin: 0 auto 0 auto;

}

/* Fim Main Image */

/* Main 2 */

.section2{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

/* Announcements */

.announcement{
    border: 2px solid #000;
    background-color: #eee;
    width: 31rem;
    height: 15rem;
    padding: .5rem;
    overflow: scroll;
    overflow-x: hidden;
}
.announcement::-webkit-scrollbar{
    width: .4rem;
    background-color: #9F9F9F;  
    border-radius: 4px;           
}
.announcement::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 4px;
}
.annoucement-tittle{
    color: #FF5C00;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
}
.annoucement-itens{
    padding-top: .7rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 29rem;
    font-size: 1.4rem;
    gap: 1rem;
}

/* Items */

.items-tittle{
    color: #FF5C00;
    font-size: 2rem;
    font-weight: 400;
}
.search-items-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.search-items-and-icon{
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    border-radius: 1.5rem;
    border: 2px solid #000;
    width: 20rem;
    height: 3rem;
}
.search-items{
    background: none;
    border: none;
    font-size: 1.2rem;
    padding-left: 2rem;
}
.search-icon-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.8rem;
    padding-right: 2rem;
}
.all-items{
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 2rem;
}
.item-name-amount{
    display: flex;
    justify-content: space-between;
    color: #000;
}
.item-name-amount:hover{
    background-color: rgb(238, 238, 238);
}

/* Reviews */

.reviews{
    border: 2px solid #000;
    background-color: #eee;
    width: 31rem;
    height: 15rem;
    padding: .5rem;
    overflow: scroll;
    overflow-x: hidden;
}





/* Responsive */

@media (max-width: 1400px) and (min-width: 1050px){
    .logo{
        font-size: 2rem;
        color: #FF5C00;
    }
    .search{
        width: 13rem;
        font-size: 1rem;
        padding-left: 1.5rem;
    }
    .search-icon{
        font-size: 2rem;
        width: 5rem;
        height: 2.5rem;
    }
    .nav-option{
        font-size: 2.3rem;
    }
    #nav{
        gap: 5rem;
    }
    .need-help{
        font-size: 1.5rem;
    }

    /* Top Main */  

    .favorite{
        width: 17rem;
        height: 2.6rem;
    }
    .favorite-heart{
        font-size: 2rem;
    }
    .favorite-text{
        font-size: 1.2rem;
    }
    .contact{
        font-size: 1.2rem;
        width: 12rem;
        height: 2.6rem;
    }

    /* Bottom Main */  

    .about{
        width: 45rem;
        height: 10rem;
        gap: 2rem;
        font-size: .9rem;
    }
    .up-about{
        margin: 0 2rem;
    }
    .local{
        font-size: .8rem;
    }
    .sales{
        font-size: .8rem;
    }
    .stars{
        font-size: 1rem;
    }
    .text-about{
        font-size: 1rem;
        max-width: 40rem;
        margin: 0 auto 0 auto;
    }
    .girl-image{
        height: 10rem;
    }
}